body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/intersection.png");
}

.animal {
    font-size: 200%;
    color: blue;
    background-color: black;    
    border: blue solid .5px;
    margin-right: 10px;
    /* font-weight: */
}

.animal:hover {
    opacity: 0.5;
}

form {
    margin-top: 20px;
}

#animal-name {
    font-size: 200%;
    font-weight: bold;
}

#animal {
    font-weight: normal;
}